// Переменные (Палитра цветов макета и наборы шрифтов)
$primaryColor: #757575;
$textColor: #212121;
$whiteColor: #ffffff;
$accentColor: #2196f3;
$iconsColor: #afb1b8;
$contactsColorFooter: rgba(255, 255, 255, 0.6);
$bgColor: #f5f4fa;
$footerColor: #2f303a;
$mainFont: Roboto, sans-serif;
$mainWidth: 1200px;
$mainPadding: 15px;
$paddingTB: 94px;

$phoneWidth: 480px;
$tabletWidth: 768px;
$laptopWidth: 1200px;
